In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('cleaned_wikidata22.csv')
df

,Date,PostgreSQL,SQL,MySQL,Python,Kernel,ASP.NET,C,C++,Go,...,Elixir,Stata,VBScript,C#,Dart,JavaScript,Java,Node.js,PHP,Visual Basic
0,2015-07,269,1128,2440,1129,1084,23,576,1969,248,...,0,47,173,0,0,2446,2977,367,5034,3169
1,2015-08,480,2062,4851,1545,2948,29,714,4130,291,...,0,53,310,0,0,2838,4984,384,7669,6404
2,2015-09,623,2463,5475,2196,3718,26,673,5996,259,...,0,88,400,0,0,3290,6450,379,7466,6517
3,2015-10,643,3439,7029,1985,4817,31,768,6303,209,...,0,66,283,0,0,3987,6561,424,9579,7767
4,2015-11,597,3512,6303,2187,3769,31,752,5071,247,...,0,78,306,0,0,3831,5726,420,9131,6271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2024-06,379,1238,1414,3691,562,5,1000,1438,17,...,129,128,76,308,244,2508,2110,411,2662,1423
108,2024-07,313,1279,1094,3412,476,12,1194,1306,17,...,121,93,94,381,327,2747,1936,410,2745,1941
109,2024-08,289,854,872,2306,449,11,1089,1879,33,...,110,72,111,354,252,2385,1585,342,1703,1037
110,2024-09,293,612,925,2405,465,17,1273,2131,31,...,71,68,101,354,228,2148,1843,350,1765,857
111,2024-10,277,708,985,2736,697,16,1252,2039,28,...,86,86,80,310,170,2134,1577,399,1445,714

In [21]:
df['Date'] = pd.to_datetime(df['Date'])
df_2024 = df[(df['Date'].dt.year == 2024) & (df['Date'].dt.month == 10)]
df_2024

,Date,PostgreSQL,SQL,MySQL,Python,Kernel,ASP.NET,C,C++,Go,...,Elixir,Stata,VBScript,C#,Dart,JavaScript,Java,Node.js,PHP,Visual Basic
111,2024-10-01,277,708,985,2736,697,16,1252,2039,28,...,86,86,80,310,170,2134,1577,399,1445,714

In [22]:
df_melted = df_2024.drop(columns=['Date']).melt(var_name='programming language', value_name='wiki view Oct 2024')
language_totals = df_melted.groupby('programming language')['wiki view Oct 2024'].sum().reset_index()
language_totals

   programming language  wiki view Oct 2024
0               ASP.NET                  16
1          ActionScript                 109
2                   Ada                 100
3               Arduino                2663
4              Assembly                 486
5                  Bash                  77
6                     C                1252
7                    C#                 310
8                   C++                2039
9                  Dart                 170
10               Delphi                 169
11               Elixir                  86
12               FoxPro                   2
13                   Go                  28
14              Haskell                  74
15                 Java                1577
16           JavaScript                2134
17               Kernel                 697
18               Kotlin                 326
19                 Lisp                 118
20                  Lua                  42
21               MATLAB                 463
22              MariaDB                  85
23                MySQL                 985
24              Node.js                 399
25                  PHP                1445
26                 Perl                 171
27           PostgreSQL                 277
28           PowerShell                   8
29               Python                2736
30                    R                3071
31                 Ruby                 330
32                 Rust                 188
33                  SAS                 122
34                 SPSS                1517
35                  SQL                 708
36           SQLAlchemy                  13
37               SQLite                 105
38                 Sage                  20
39                Scala                  69
40              Scratch                4784
41             Solidity                  68
42                Stata                  86
43                Swift                  95
44                Unity                 429
45                  VBA                 147
46             VBScript                  80
47         Visual Basic                 714
48        Visual FoxPro                 125

In [23]:
language_totals.to_csv('wikicount_10_2024.csv',index=False)