In [1]:
import pandas as pd
import os

In [2]:
folder_path = 'wikidata'
dataframes = []

In [3]:
dataframes = []

for file in os.listdir(folder_path):
    file_path = os.path.join(folder_path, file)  
    try:
        df = pd.read_csv(file_path)  
        if not df.empty:  
            dataframes.append(df) 
        else:
            print(f"Warning: The file {file} is empty.")
    
    except Exception as e:
        print(f"Error reading {file}: {e}")

In [4]:
if dataframes:
    combined_df = dataframes[0]

    for df in dataframes[1:]:
        combined_df = combined_df.merge(df, on='Date', how='outer')    
    
else:
    print("No valid CSV files were found to merge.")

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           112 non-null    object
 1   PostgreSQL                     112 non-null    int64
 2   SQL                            112 non-null    int64
 3   MySQL                          112 non-null    int64
 4   Python (bahasa pemrograman)    112 non-null    int64
 5   Kernel (ilmu komputer)         112 non-null    int64
 6   ASP.NET                        112 non-null    int64
 7   C                              112 non-null    int64
 8   C++                            112 non-null    int64
 9   Go                             112 non-null    int64
 10  Ruby (bahasa pemrograman)      112 non-null    int64
 11  Ada (bahasa pemrograman)       112 non-null    int64
 12  MariaDB                        112 non-null    int64
 13  Solidity                       112 non-null    int64
 14  Swift (bahasa pemrograman)     112 non-null    int64
 15  Kotlin (bahasa pemrograman)    112 non-null    int64
 16  Perl                           112 non-null    int64
 17  Scratch (bahasa pemrograman)   112 non-null    int64
 18  R (bahasa pemrograman)         112 non-null    int64
 19  Scala (bahasa pemrograman)     112 non-null    int64
 20  Rust (bahasa pemrograman)      112 non-null    int64
 21  MATLAB                         112 non-null    int64
 22  SQLite                         112 non-null    int64
 23  Bash (syel Unix)               112 non-null    int64
 24  Bahasa rakitan                 112 non-null    int64
 25  PowerShell                     112 non-null    int64
 26  FoxPro                         112 non-null    int64
 27  Embarcadero Delphi             112 non-null    int64
 28  Visual FoxPro                  112 non-null    int64
 29  Unity (mesin permainan)        112 non-null    int64
 30  Arduino                        112 non-null    int64
 31  Statistical Analysis System    112 non-null    int64
 32  SPSS                           112 non-null    int64
 33  Haskell                        112 non-null    int64
 34  SQLAlchemy                     112 non-null    int64
 35  Sage                           112 non-null    int64
 36  Lisp (bahasa pemrograman)      112 non-null    int64
 37  Lua                            112 non-null    int64
 38  Visual Basic for Applications  112 non-null    int64
 39  ActionScript                   112 non-null    int64
 40  Elixir (bahasa pemrograman)    112 non-null    int64
 41  Stata                          112 non-null    int64
 42  VBScript                       112 non-null    int64
 43  C Sharp (bahasa pemrograman)   112 non-null    int64
 44  Dart (bahasa pemrograman)      112 non-null    int64
 45  JavaScript                     112 non-null    int64
 46  Java                           112 non-null    int64
 47  Node.js                        112 non-null    int64
 48  PHP                            112 non-null    int64
 49  Visual Basic                   112 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.9+ KB

In [6]:
combined_df.columns = combined_df.columns.str.replace(r"\s*\(.*\)", "", regex=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           112 non-null    object
 1   PostgreSQL                     112 non-null    int64
 2   SQL                            112 non-null    int64
 3   MySQL                          112 non-null    int64
 4   Python                         112 non-null    int64
 5   Kernel                         112 non-null    int64
 6   ASP.NET                        112 non-null    int64
 7   C                              112 non-null    int64
 8   C++                            112 non-null    int64
 9   Go                             112 non-null    int64
 10  Ruby                           112 non-null    int64
 11  Ada                            112 non-null    int64
 12  MariaDB                        112 non-null    int64
 13  Solidity                       112 non-null    int64
 14  Swift                          112 non-null    int64
 15  Kotlin                         112 non-null    int64
 16  Perl                           112 non-null    int64
 17  Scratch                        112 non-null    int64
 18  R                              112 non-null    int64
 19  Scala                          112 non-null    int64
 20  Rust                           112 non-null    int64
 21  MATLAB                         112 non-null    int64
 22  SQLite                         112 non-null    int64
 23  Bash                           112 non-null    int64
 24  Bahasa rakitan                 112 non-null    int64
 25  PowerShell                     112 non-null    int64
 26  FoxPro                         112 non-null    int64
 27  Embarcadero Delphi             112 non-null    int64
 28  Visual FoxPro                  112 non-null    int64
 29  Unity                          112 non-null    int64
 30  Arduino                        112 non-null    int64
 31  Statistical Analysis System    112 non-null    int64
 32  SPSS                           112 non-null    int64
 33  Haskell                        112 non-null    int64
 34  SQLAlchemy                     112 non-null    int64
 35  Sage                           112 non-null    int64
 36  Lisp                           112 non-null    int64
 37  Lua                            112 non-null    int64
 38  Visual Basic for Applications  112 non-null    int64
 39  ActionScript                   112 non-null    int64
 40  Elixir                         112 non-null    int64
 41  Stata                          112 non-null    int64
 42  VBScript                       112 non-null    int64
 43  C Sharp                        112 non-null    int64
 44  Dart                           112 non-null    int64
 45  JavaScript                     112 non-null    int64
 46  Java                           112 non-null    int64
 47  Node.js                        112 non-null    int64
 48  PHP                            112 non-null    int64
 49  Visual Basic                   112 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.9+ KB

In [7]:
combined_df.rename(columns={"C Sharp":"C#"}, inplace=True)
combined_df.rename(columns={"Bahasa rakitan":"Assembly"}, inplace=True)
combined_df.rename(columns={"Embarcadero Delphi":"Delphi"}, inplace=True)
combined_df.rename(columns={"Visual Basic for Applications":"VBA"}, inplace=True)
combined_df.rename(columns={"Statistical Analysis System":"SAS"}, inplace=True)

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           112 non-null    object
 1   PostgreSQL     112 non-null    int64
 2   SQL            112 non-null    int64
 3   MySQL          112 non-null    int64
 4   Python         112 non-null    int64
 5   Kernel         112 non-null    int64
 6   ASP.NET        112 non-null    int64
 7   C              112 non-null    int64
 8   C++            112 non-null    int64
 9   Go             112 non-null    int64
 10  Ruby           112 non-null    int64
 11  Ada            112 non-null    int64
 12  MariaDB        112 non-null    int64
 13  Solidity       112 non-null    int64
 14  Swift          112 non-null    int64
 15  Kotlin         112 non-null    int64
 16  Perl           112 non-null    int64
 17  Scratch        112 non-null    int64
 18  R              112 non-null    int64
 19  Scala          112 non-null    int64
 20  Rust           112 non-null    int64
 21  MATLAB         112 non-null    int64
 22  SQLite         112 non-null    int64
 23  Bash           112 non-null    int64
 24  Assembly       112 non-null    int64
 25  PowerShell     112 non-null    int64
 26  FoxPro         112 non-null    int64
 27  Delphi         112 non-null    int64
 28  Visual FoxPro  112 non-null    int64
 29  Unity          112 non-null    int64
 30  Arduino        112 non-null    int64
 31  SAS            112 non-null    int64
 32  SPSS           112 non-null    int64
 33  Haskell        112 non-null    int64
 34  SQLAlchemy     112 non-null    int64
 35  Sage           112 non-null    int64
 36  Lisp           112 non-null    int64
 37  Lua            112 non-null    int64
 38  VBA            112 non-null    int64
 39  ActionScript   112 non-null    int64
 40  Elixir         112 non-null    int64
 41  Stata          112 non-null    int64
 42  VBScript       112 non-null    int64
 43  C#             112 non-null    int64
 44  Dart           112 non-null    int64
 45  JavaScript     112 non-null    int64
 46  Java           112 non-null    int64
 47  Node.js        112 non-null    int64
 48  PHP            112 non-null    int64
 49  Visual Basic   112 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.9+ KB

In [8]:
combined_df.to_csv('cleaned_wikidata22.csv', index=False)

In [9]:
averages = []

for col in combined_df.columns[1:]:  
    first_non_zero_idx = combined_df[col].ne(0).idxmax()
    
    if first_non_zero_idx is not None:
        avg_views = combined_df.loc[first_non_zero_idx:, col].mean()
        averages.append({"name": col, "avg wiki views (monthly)": avg_views})

In [10]:
avg_df = pd.DataFrame(averages)
avg_df.to_csv('avg_wiki_monthly22.csv',index=False)
avg_df

             name  avg wiki views (monthly)
0      PostgreSQL                544.053571
1             SQL               1500.580357
2           MySQL               3228.794643
3          Python               5567.955357
4          Kernel               1841.964286
5         ASP.NET                 15.955357
6               C               1236.553571
7             C++               5356.428571
8              Go                 92.062500
9            Ruby                856.526786
10            Ada                199.446429
11        MariaDB                282.750000
12       Solidity                 76.506494
13          Swift                179.830357
14         Kotlin                362.000000
15           Perl                357.785714
16        Scratch               2182.589286
17              R                841.187500
18          Scala                384.397849
19           Rust                154.784091
20         MATLAB                990.232143
21         SQLite                285.892857
22           Bash                 56.400000
23       Assembly               1320.366071
24     PowerShell                  8.553571
25         FoxPro                 16.500000
26         Delphi                446.053571
27  Visual FoxPro                476.910714
28          Unity                600.826087
29        Arduino               3287.785714
30            SAS                165.553571
31           SPSS               1578.785714
32        Haskell                 91.294643
33     SQLAlchemy                 22.127273
34           Sage                 86.848214
35           Lisp                101.345455
36            Lua                 21.071429
37            VBA                509.491071
38   ActionScript                356.392857
39         Elixir                181.112676
40          Stata                101.044643
41       VBScript                175.750000
42             C#                497.266667
43           Dart                 52.953846
44     JavaScript               5276.794643
45           Java               3925.598214
46        Node.js                662.803571
47            PHP               4083.750000
48   Visual Basic               4796.991071

In [11]:
combined_df[['C']].mean()

C    1236.553571
dtype: float64