In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned_wikidata.csv')
df

,Date,C#,Dart,PostgreSQL,SQL,MySQL,Python,Kernel,ASP.NET,C,...,VBA,ActionScript,Elixir,Stata,VBScript,Java,JavaScript,Node.js,PHP,Visual Basic
0,2015-07,0,0,269,1128,2440,1129,1084,23,576,...,245,137,0,47,173,2977,2446,367,5034,3169
1,2015-08,0,0,480,2062,4851,1545,2948,29,714,...,562,379,0,53,310,4984,2838,384,7669,6404
2,2015-09,0,0,623,2463,5475,2196,3718,26,673,...,645,221,0,88,400,6450,3290,379,7466,6517
3,2015-10,0,0,643,3439,7029,1985,4817,31,768,...,620,342,0,66,283,6561,3987,424,9579,7767
4,2015-11,0,0,597,3512,6303,2187,3769,31,752,...,527,597,0,78,306,5726,3831,420,9131,6271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2024-05,352,233,562,1279,1590,3686,936,6,907,...,179,86,171,173,110,2941,2697,593,2919,1758
107,2024-06,308,244,379,1238,1414,3691,562,5,1000,...,192,89,129,128,76,2110,2508,411,2662,1423
108,2024-07,381,327,313,1279,1094,3412,476,12,1194,...,163,61,121,93,94,1936,2747,410,2745,1941
109,2024-08,354,252,289,854,872,2306,449,11,1089,...,135,104,110,72,111,1585,2385,342,1703,1037
110,2024-09,354,228,293,612,925,2405,465,17,1273,...,153,132,71,68,101,1843,2148,350,1765,857