In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [19]:
df = pd.read_csv('../../EDA/result3.csv')
df['location_count'] = df['location'].apply(lambda x: len(eval(x)))
df.drop('location',axis=1, inplace=True)
df

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count,location_count
0,Java,10.51,728,6.153528e+06,103000,3925.598214,6800,28.133930,2531,12
1,JavaScript,3.54,1111,6.168157e+06,118000,5276.794643,11400,15.482143,4633,12
2,Dart,0.56,32,6.250161e+06,945,52.953846,877,37.000000,963,6
3,Node.js,0.00,450,5.596209e+06,34000,662.803571,-1,2.633929,2207,8
4,PHP,1.21,505,5.762279e+06,123000,4083.750000,8600,26.616071,3147,11
...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1.000000,-1,0.000000,0,1
171,VBScript,0.33,2,3.327448e+06,692,175.750000,-1,21.366070,0,1
172,CORAL,0.00,1,3.244448e+06,0,-1.000000,-1,0.000000,0,1
173,UniVerse,0.00,1,1.520833e+06,0,-1.000000,-1,0.000000,0,1
174,C2,0.00,38,1.560417e+06,0,-1.000000,-1,0.000000,0,12

In [20]:
# standardize the data
scaler = StandardScaler()
df[['tiobe index ratings_T','job amount_T','average salary_T','linkedin skill_T',
    	'avg wiki views (monthly)_T','github user count_T','average search count_T',
        'stack overflow count_T','location_count_T']] = scaler.fit_transform(df[['tiobe index ratings','job amount',
        'average salary','linkedin skill',
    	'avg wiki views (monthly)','github user count','average search count',
        'stack overflow count','location_count']])

df

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count,location_count,tiobe index ratings_T,job amount_T,average salary_T,linkedin skill_T,avg wiki views (monthly)_T,github user count_T,average search count_T,stack overflow count_T,location_count_T
0,Java,10.51,728,6.153528e+06,103000,3925.598214,6800,28.133930,2531,12,4.602523,4.471072,-0.234475,4.029507,3.723636,5.065941,1.367345,2.977634,2.917045
1,JavaScript,3.54,1111,6.168157e+06,118000,5276.794643,11400,15.482143,4633,12,1.395774,7.029718,-0.232846,4.658651,5.112086,8.626879,0.549330,5.738184,2.917045
2,Dart,0.56,32,6.250161e+06,945,52.953846,877,37.000000,963,6,0.024739,-0.178580,-0.223714,-0.250981,-0.255779,0.480846,1.940589,0.918385,0.930730
3,Node.js,0.00,450,5.596209e+06,34000,662.803571,-1,2.633929,2207,8,-0.232905,2.613884,-0.296539,1.135443,0.370885,-0.198829,-0.281385,2.552126,1.592835
4,PHP,1.21,505,5.762279e+06,123000,4083.750000,8600,26.616071,3147,11,0.323790,2.981313,-0.278045,4.868366,3.886148,6.459352,1.269206,3.786625,2.585993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1.000000,-1,0.000000,0,1,-0.232905,-0.385677,-0.296912,-0.290617,-0.311220,-0.198829,-0.451684,-0.346320,-0.724532
171,VBScript,0.33,2,3.327448e+06,692,175.750000,-1,21.366070,0,1,-0.081079,-0.378996,-0.549193,-0.261592,-0.129597,-0.198829,0.929762,-0.346320,-0.724532
172,CORAL,0.00,1,3.244448e+06,0,-1.000000,-1,0.000000,0,1,-0.232905,-0.385677,-0.558436,-0.290617,-0.311220,-0.198829,-0.451684,-0.346320,-0.724532
173,UniVerse,0.00,1,1.520833e+06,0,-1.000000,-1,0.000000,0,1,-0.232905,-0.385677,-0.750381,-0.290617,-0.311220,-0.198829,-0.451684,-0.346320,-0.724532
174,C2,0.00,38,1.560417e+06,0,-1.000000,-1,0.000000,0,12,-0.232905,-0.138497,-0.745973,-0.290617,-0.311220,-0.198829,-0.451684,-0.346320,2.917045

In [22]:
df1 = pd.read_csv('cluster_result.csv')
df1['dbscan_cluster'] = df1['dbscan_cluster'].replace({1: 0, 0: 1})
df1

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count,location_count,...,github user count_T,average search count_T,stack overflow count_T,location_count_T,kmeans_2,agg_cluster,dbscan_cluster,gmm_cluster2,som_cluster,optics_cluster
0,Java,10.51,728,6.153528e+06,103000,3925.598214,6800,28.133930,2531,12,...,5.065941,1.367345,2.977634,2.917045,1,1,1,1,11,0
1,JavaScript,3.54,1111,6.168157e+06,118000,5276.794643,11400,15.482143,4633,12,...,8.626879,0.549330,5.738184,2.917045,1,1,1,1,11,0
2,Dart,0.56,32,6.250161e+06,945,52.953846,877,37.000000,963,6,...,0.480846,1.940589,0.918385,0.930730,0,0,0,0,29,-1
3,Node.js,0.00,450,5.596209e+06,34000,662.803571,-1,2.633929,2207,8,...,-0.198829,-0.281385,2.552126,1.592835,0,0,0,0,0,40
4,PHP,1.21,505,5.762279e+06,123000,4083.750000,8600,26.616071,3147,11,...,6.459352,1.269206,3.786625,2.585993,1,1,1,1,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1.000000,-1,0.000000,0,1,...,-0.198829,-0.451684,-0.346320,-0.724532,0,0,0,0,27,10
171,VBScript,0.33,2,3.327448e+06,692,175.750000,-1,21.366070,0,1,...,-0.198829,0.929762,-0.346320,-0.724532,0,0,0,0,30,1
172,CORAL,0.00,1,3.244448e+06,0,-1.000000,-1,0.000000,0,1,...,-0.198829,-0.451684,-0.346320,-0.724532,0,0,0,0,33,6
173,UniVerse,0.00,1,1.520833e+06,0,-1.000000,-1,0.000000,0,1,...,-0.198829,-0.451684,-0.346320,-0.724532,0,0,0,0,33,9
174,C2,0.00,38,1.560417e+06,0,-1.000000,-1,0.000000,0,12,...,-0.198829,-0.451684,-0.346320,2.917045,0,0,0,0,2,37

In [23]:
df1['cluster_count'] = (
    (df1['kmeans_2'] == 1).astype(int) +
    (df1['agg_cluster'] == 1).astype(int) +
    (df1['gmm_cluster2'] == 1).astype(int) +
    (df1['dbscan_cluster'] == 1).astype(int)
)
df1[df1['cluster_count'] >= 1]

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count,location_count,...,average search count_T,stack overflow count_T,location_count_T,kmeans_2,agg_cluster,dbscan_cluster,gmm_cluster2,som_cluster,optics_cluster,cluster_count
0,Java,10.51,728,6.153528e+06,103000,3925.598214,6800,28.133930,2531,12,...,1.367345,2.977634,2.917045,1,1,1,1,11,0,4
1,JavaScript,3.54,1111,6.168157e+06,118000,5276.794643,11400,15.482143,4633,12,...,0.549330,5.738184,2.917045,1,1,1,1,11,0,4
4,PHP,1.21,505,5.762279e+06,123000,4083.750000,8600,26.616071,3147,11,...,1.269206,3.786625,2.585993,1,1,1,1,11,0,4
5,Visual Basic,2.35,234,7.144311e+06,32000,4796.991071,0,32.794640,270,10,...,1.668688,0.008270,2.254940,0,0,0,1,18,-1,1
6,MySQL,0.00,511,5.282099e+06,129000,3228.794643,-1,56.241070,3969,10,...,3.184641,4.866155,2.254940,1,1,0,1,6,42,3
8,SQL,1.64,793,6.759264e+06,143000,1500.580357,6,58.901790,3529,12,...,3.356672,4.288305,2.917045,1,1,0,1,6,42,3
14,Python,21.90,675,6.329000e+06,113000,5567.955357,6100,45.955360,2921,10,...,2.519608,3.489820,2.254940,1,1,1,1,11,0,4
20,C,8.38,362,5.928979e+06,25000,1236.553571,1200,31.535710,1042,9,...,1.587290,1.022135,1.923888,0,0,0,1,12,-1,1
41,C++,11.60,118,5.903932e+06,58000,5356.428571,2500,50.678570,1477,6,...,2.824992,1.593419,0.930730,1,0,0,1,17,-1,2

In [24]:
df1.to_csv('standardized_result.csv', index=False)