In [2]:
import pandas as pd
import numpy as np
from collections import Counter

In [3]:
lang_df = pd.read_csv('g.csv')
lang_df.drop(columns=['quora webpage count'], inplace=True)
lang_df

    programming language
0                   Java
1             JavaScript
2                   Dart
3                Node.js
4                    PHP
..                   ...
171                   Dc
172             VBScript
173                CORAL
174             UniVerse
175                   C2

[176 rows x 1 columns]

In [4]:
lang_df['stack_overflow_count'] = 0
lang_df

    programming language  stack_overflow_count
0                   Java                     0
1             JavaScript                     0
2                   Dart                     0
3                Node.js                     0
4                    PHP                     0
..                   ...                   ...
171                   Dc                     0
172             VBScript                     0
173                CORAL                     0
174             UniVerse                     0
175                   C2                     0

[176 rows x 2 columns]

In [5]:
df = pd.read_csv('indonesian_stack_overflow.csv')
columns_to_count = [
    'languagehaveworkedwith', 
    'languagewanttoworkwith', 
    'databasehaveworkedwith', 
    'databasewanttoworkwith', 
    'webframehaveworkedwith', 
    'webframewanttoworkwith'
]
language_counts = {row['programming language']: 0 for _, row in lang_df.iterrows()}
lang_df

    programming language  stack_overflow_count
0                   Java                     0
1             JavaScript                     0
2                   Dart                     0
3                Node.js                     0
4                    PHP                     0
..                   ...                   ...
171                   Dc                     0
172             VBScript                     0
173                CORAL                     0
174             UniVerse                     0
175                   C2                     0

[176 rows x 2 columns]

In [6]:
occurrence_counter = Counter()

for column in columns_to_count:
    if column in df.columns:  
        for languages in df[column].dropna():  
            occurrence_counter.update(lang.strip() for lang in languages.split(';'))

for language in occurrence_counter:
    if language in language_counts:
        language_counts[language] += occurrence_counter[language]

    elif (language == 'VB.NET') or (language == 'Visual Basic 6'):
        language_counts['Visual Basic'] += occurrence_counter[language]  
    
    elif language == 'Spark':
        language_counts['SPARK'] += occurrence_counter[language]

    elif language == 'Bash/Shell':
        language_counts['Bash'] += occurrence_counter[language]
    
    elif language == 'Dynamodb':
        language_counts['DYNAMO'] += occurrence_counter[language]


result_df = pd.DataFrame(list(language_counts.items()), columns=['Programming Language', 'stack_overflow_count'])

In [17]:
result_df.to_csv('count_stack_overflow.csv', index=False)